{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'css/tooplate.css' %}">
</head>

<body class="bg03">
    <div class="container">
        <div class="row tm-mt-big">
            <div class="col-12 mx-auto tm-login-col">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12 text-center">
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon text-center"></i>
                            <h2 class="tm-block-title mt-3">{{ title_box }}</h2>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <form action="{% url 'users:login_p' %}" method="post" class="tm-login-form">
                                {% csrf_token %}
                                {{ form.as_p }}
{#                                <div class="input-group">#}
{#                                    <label for="username" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">{{ label_login }}</label>#}
{#                                    <input name="username" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" id="username" value="" required>#}
{#                                </div>#}
{#                                <div class="input-group mt-3">#}
{#                                    <label for="password" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">{{ label_pass }}</label>#}
{#                                    <input name="password" type="password" class="form-control validate" id="password" value="" required>#}
{#                                </div>#}
                                <div class="input-group mt-3">
                                    <button type="submit" class="btn btn-primary d-inline-block mx-auto">{{ button_enter }}</button>
                                </div>
                                <div class="input-group mt-3 d-inline-block text-center">
                                    <em><a href="{% url 'users:registration_p' %}">{{ bottom_register }}</a></em>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="row tm-mt-big">
        </footer>
    </div>
</body>

</html>