{% extends 'visits/base.html'%}
{% load static %}


{% block class %}
<body class="bg03">
{% endblock %}
{% block content %}
        <div class="row  tm-mt-big">
            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title">{{ table_title }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <form action="{% url 'users:profile_p' %}" class="tm-signup-form" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="login">{{ table_login }}</label>
                                    {{ form.username }}
                                </div>
                                <div class="form-row">
                                <div class="form-group">
                                    <label for="password1">{{ table_pass }}</label>
                                    {{ form.password1 }}
                                </div>
                                <div class="form-group">
                                    <label for="password2">{{ table_pass_confirm }}</label>
                                    {{ form.password2 }}
                                </div>

                                <div class="form-row">
                                <div class="form-group">
                                    <label for="name">{{ table_first_name }}</label>
                                    {{ form.first_name }}
                                </div>
                                 <div class="form-group">
                                    <label for="surname">{{ table_last_name }}</label>
                                    {{ form.last_name }}
                                </div>
                                <div class="form-group">
                                    <label for="email">{{ table_email }}</label>
                                    {{ form.email }}
                                </div>

                                <div class="form-group">
                                    <label for="phone">{{ table_phone }}</label>
                                    {{ form.phone }}
                                </div>
                                </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">

                                        <button type="submit" class="btn btn-primary btn-lg">{{ button_accept }}
                                        </button>

                                    </div>
                                    <div class="form-group">

                                        <a class="btn btn-primary btn-lg" href="{% url 'visits:index' %}" role="button">{{ button_cancel }}</a>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tm-col tm-col-small">
                <div class="bg-white tm-block">
                    <h2 class="tm-block-title">Фото пользователя</h2>
                    <img src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'img/default_avatar.jpg' %} {% endif %}" alt="Profile Image" class="img-fluid">

                        {{ form.image }}


                </div>
            </div>
        </div>
        </div>
{% endblock %}
{% block end_html %}
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- https://getbootstrap.com/ -->
</body>
</html>
{% endblock %}