<div class="col-xl-4 col-lg-12 tm-md-12 tm-sm-12 tm-col">
    <div class="bg-white tm-block h-100">
        <h2 class="tm-block-title d-inline-block">{{ column_right_top_name }}</h2>
        <table class="table table-hover table-striped mt-3">
            <tbody>
                <thead>
                    <form method="post">
                        {% csrf_token %}
                        <tr class="tm-bg-gray">
                        <th scope="col"></th>
                        <div class="form-row">
                            <div class="form-group mr-3">
                                {{ contact_form.FlatContact_Name }}
                            </div>
                            <div class="form-group mr-3">
                                {{ contact_form.FlatContact_Phone }}
                            </div>
                            <div class="form-group mr-3">
                                {{ contact_form.FlatContact_Comment }}
                            </div>
                            <div class="form-group mr-3">
                                <button type="submit" class="btn btn-primary btn-lg" href="{% url 'visits:flat_contact_add' flat.id %}">Сохранить</button>
                            </div>
                        </div>
                        <th scope="col">&nbsp;</th>
                        </tr>
                    </form>
                </thead>
                {% if flatscontact_list %}
                    {% for flatcontact in flatscontact_list %}
                        <tr>
                        <td>{{ flatcontact }}</td>
                        <td class="tm-trash-icon-cell"><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <h2 class="tm-block-title d-inline-block">{{ flat_contact_empty }} {{ flat.id }}</h2>
                {% endif %}

            </tbody>
        </table>
    </div>
</div>